*{
    margin: 0;
    padding: 0;

}

h1{
    text-align: center;
}
img{
    cursor: pointer;
    height: 20px;
    width: 20px;
}

header{
    /* margin: 5px 10px; */
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
}

nav ul li{
    list-style-type: none;
    display: inline-block ;
    margin-right: 150px;

}


nav ul li a{
    text-decoration: none;
}

nav ul li a:hover{
    text-decoration: underline;
}

nav ul li a:visited{
    color:aqua;
}

button{
    background-color: aqua;
    border-radius: 2px;
    outline: none;
    border: none;
    padding:2px 4px;
}

button:hover{
    text-decoration: underline;
    cursor: pointer;
}
/* body{
    background-color: rgb(216, 186, 186);
    background-image: url('ACT1LHTL1.png');
    height: 100vh;
}
h1{
    background-color: rgb(255, 0, 115);
    height: 344px;
    color: black;
    height: 60px;
    text-align: center;
}
p{
    background-color: azure;
    height: 344px
    color: darkgreen;
    /* height: 60px; */


.content{
    height: 200px;
    width: 500px;
    background: yellow;
    color: black;
    margin: 10px 1000px 5px 10px;
     padding: 10px 20px 10px 54px; 
    border: 2px solid black;
}
