*{
    background-color: blanchedalmond;
   
}
h1{
    text-align: center;
    background-color: aqua;
    padding: 33px;
    text-decoration: underline;
}
p{
    background-color: black;
    color: white;
    padding: 47px;
    margin-left: 50px;
    margin-right: 40px;
    margin-top: unset;
}
h3{
    background-color:red;
    text-decoration: double;
    text-align: center;
    padding: 30px;
    margin-left: 401px;
    margin-right: 401px;
}
#linkingarrow{
    text-align: center;
   background-color: black;
   color: white;
   margin-left: 600px;
   margin-right: 600px;
   margin-top: -18px;
   text-orientation:line;
}
.container{
    display: flex;
    height: 200px;
    text-align: center;
    border: 5px solid black;
}
.box{
    background-color: aquamarine;
    width: 295px;
    margin-left: 50px;
    border: 2px solid black;
}
.box h4{
    text-decoration: underline;
}

.box2{
    background-color: cornflowerblue;
    width: 295px;
    border: 2px solid black;
}
.box2 h4{
    text-decoration: underline;
}
.box3{
    background-color: chartreuse;
    width: 295px;
    border: 2px solid black;
}
.box3 h4{
    text-decoration: underline;
}
.box4{
    background-color: darkkhaki;
    width: 295px;
    border: 2px solid black;
}
.box4 h4{
    text-decoration: underline;
}
nav ul li{
    display: inline;
    margin-bottom: 5px;
}
nav ul li a {
    text-decoration: none;
    margin: 25px;
    margin-bottom: 5px;
}
nav ul{
    
}